body {
  background-color: rgb(99, 99, 99);
  margin: 0;
  display: flex;
  flex-direction: column;
}

.header {
  font-family: 'Merriweather', serif;
  background-color: rgb(39, 39, 39);;
  height: 100px;
  padding: 30px;
  text-align: center;
  font-size: 80px;
  color: #e7e7e7;
}

.main-screen {
  display: flex;
}

.card-screen {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background-color: #cfcfcf;
  border: 2px solid #000000;
  box-shadow: 10px 10px;
  width: 300px;
  padding: 10px;
}

.card:nth-child(even) {
  background-color: #000000;
  border: 2px solid #cfcfcf;
  box-shadow: 10px 10px #cfcfcf;
  color: #ffffff;
}

.card-title {
  font-size: 26px;
  font-weight: bold;
}

.card-author {
  font-size: 18px;
}

.toggle-form {
  position: fixed;
  bottom: 30px;
  right: 24px;
  padding: 12px 23px;
  font-size: 17px;
  cursor: pointer;
  box-shadow: 5px 5px;
}

.form {
  display: none;
  background-color: #1f1f1f;
  width: 300px;
  padding: 20px;
  color: #f0f0f0;
  position: fixed;
  bottom: 100px;
  right: 24px;
  box-shadow: 0px 0px 10px #3d3d3d;
  box-sizing: border-box;
}

.delete-button,
.read-button {
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  margin-top: 5px;
}

.delete-button {
  background-color: rgb(255, 83, 83);
}

.read-button {
  background-color: rgb(94, 158, 255);
}